<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p> welcome to Course detail </p>
        {% for n in name %}
        <div>
            {{forloop.counter}} {{n}}
        </div>
        {% endfor %}
        <br>
        <div>
            <table border="1">
                <tr> 
                    <td> course name </td>
                    <td> fees </td>
                </tr>
                {% for d in details %}
                <tr> 
                    <td> {{d.coursename}} </td>
                    <td> {{d.fees}} </td> 
                </tr>
                {% endfor %}
            </table>
        </div>

    </body>
</html>
